.livingRoom_snooker_view{width: 400px;height:600px;right:-3%;float:right;position: relative;}
	#livingRoom_snooker_cas{display: block; border:1px solid;background:url('http://7xjrp9.com1.z0.glb.clouddn.com/table.jpg') no-repeat;background-size:100% 100%;}
		.livingRoom_snooker_shotPower{width: 30px;height: 80px;position: absolute;right: -80px;top: 150px;display: none}
		#livingRoom_snooker_powbar{width: 5px;height: 60px;margin:auto;background-color: #CCC;position: relative;}
		#livingRoom_snooker_pow{width: 100%;height:50%;position: absolute;bottom: 0px;}
		#livingRoom_snooker_maxPower{color: #FFF;text-align: center;width: 100%;padding-bottom:3px;font-size: 10px;}
		#livingRoom_snooker_powText{color: #FFF;text-align: center;width: 100%;padding-top: 3px;font-size: 8px;}
		#livingRoom_snookerReset{position:absolute;right:50%;top:545px;color:#000;background-color:yellow;border:1px solid red;padding:3px 5px;}
		#livingRoom_snookerReset:hover{color:red;background-color:green;}
		.livingRoom_snooker_animate{-webkit-animation:add 2s infinite linear;}
		@-webkit-keyframes add{
			0%{height:0%;background-color:#ff0;}
			50%{height:100%;background-color:#f00;}
			100%{height:0%;background-color:#ff0;}
		}