#index_clock_cas {
	position: absolute;
	left: 0;
	right: 0;
	top: 120px;
	z-index: 2;
	display: block;
	margin: auto;
	background-color: #FFFF;
	
}

#index_clock_bgcas {
	position: absolute;
	left: 0;
	right: 0;
	top: 100px;
	display: block;
	margin: auto;
	background-color: #FFFF;
	opacity: 0;
}